Requirements

Python 3 (Anaconda is recommended)
skimage
imageio
Pytorch (Pytorch version '1.13.1+cu116' is recommended)
tqdm
pandas
cv2 (version '4.7.0')
matplotlib
scikit-image
yacs
joblib
natsort
h5py
kornia
tensorboard
ptflops
numpy
glob